<!DOCTYPE html>
<html>
  <head>
	<title>House Manager</title>
	<meta name="viewport" content='width=device-width, initial-scale=1.0'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media='screen'>
	<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
	<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
	 <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
	<% var logged = false; %>
	<% if(typeof(currentUser) !== "undefined"){ %>
		<% logged = true; %>
	<% } %>
	<div class="container">
		<div class="nav-bar">
			<ul class="links">
				<% if(logged) {%>
					<li><a href="/flux">Flux</a></li>
          <% if(currentUser.admin) {%>
            <% if(currentUser.email === "fernandobrazror@gmail.com"){%>
  					 <li><a href="/users" class="disposable">Users</a></li>
             <% } %>
            <li><a href="/necessitiesTypes" class="disposable">Necessities Types</a></li>
          <% } %> 
 					<li><a href="/necessities">Necessities</a></li> 
					<li><a href="/necessities/manager" class="disposable">Groceries Manager</a></li>
					<li><a href="/necessities/list">Groceries List</a></li>
					<li><a href="/users/password_change" class="disposable">Change Password</a></li>      
					<li><a href="/users/logout">Logout</a></li>
				<% }%>        
			</ul>
		</div>
		<div class="content">