body { 

}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0; 
}

h1{
  text-transform: capitalize;
}

table{
  width: 100%; 
  border-collapse: collapse; 
}
tbody{
  tr:nth-of-type(odd) { 
    background: #eee;
    // border-color: #000000;
  }
}
td, th {
  padding: 5px 10px;
  border: 1px solid;
  text-align: center;
  text-transform: capitalize;
}


.nav-bar {
    width: 17%;
    float: left;
    padding: 20px;
}

.nav-bar li {
    margin-bottom: 10px;
}

.content {
  float: left;
  width: 83%;
}
/*.calendar-page {
   h2 {
     color: #aa2222;
   }
 }*/
.date-input {
  span {
    margin-left: 15px;
  }
}
.date-input--day {
  font-size: 2em;
  font-weight: bold;
  color: #aa2222
}
.pending, .rejected, .accepted{
  text-transform: capitalize;
  font-weight: bold;
}
.rejected {
  a {
    color: #900e0e;
    cursor: pointer;
    text-decoration: underline;
  }
  span{
    color: #900e0e;
  }
}
.accepted {
  span {
    color: #00bd23;
  }
}
.pending {
  span {
    color: #8a8a8a  
  }
}

.tooltips {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #777777;

    .tooltiptext {
      visibility: hidden;
      width: 150px;
      background-color: #951a1a;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;

      /* Position the tooltip */
      position: absolute;
      z-index: 1;
      right: -5px;
    }
}

.tooltips:hover {
  .tooltiptext {
    visibility: visible;
  }
}

.form-approval{
  float: left;
  padding: 0 0 0 5px;
}

.btn-approve, .btn-reject{
  width: 70px;
  color: #FFFFFF;
  border: 0;
}
.btn-approve{
  background-color: #00BD23;
}
.btn-reject{
  background-color: #951A1A;
}

.month-block{
  border: 1px solid #000000;
  padding: 20px 30px;
  height: 160px;
  margin: 10px 0;

  h3{
    margin-top: 0;
  }
}

.month-link{
  color: #000000;

  &:hover{
    color: #000000;
    .month-block{
      border: 3px solid #525252;
    }
  }
}

.month-filter {
  margin-bottom: 10px;
}

@media screen and (max-width: 854px) {
  .container{
    font-size: 1.2em;
  }
  .content{
    float: none;
    width: 100%;
  }
  .nav-bar{
    float: none;
    width: 100%;
    padding: 10px;
    ul{
      display: inline-flex;
      li{
        margin-bottom: 0;
        margin-right: 10px;
      }
    }
  }

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  tr { border: 1px solid #ccc; }
  
  tr:nth-of-type(odd) { 
    td{
      border-color: #ccc;
    }
  }

  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%;
  }
  
  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  
  /*
  Label the data
  */
  td:nth-of-type(1):before { content: "Description"; }
  td:nth-of-type(2):before { content: "Value"; }
  td:nth-of-type(3):before { content: "Date"; }
  td:nth-of-type(4):before { content: "In/Out"; }
  td:nth-of-type(5):before { content: "Period Type"; }
  td:nth-of-type(6):before { content: "Created at"; }
  td:nth-of-type(7):before { content: "Edit"; }
  td:nth-of-type(8):before { content: "Delete"; }

}













