<% include ../layouts/header.ejs %>
<div class="col-sm-6">

    <h1>Change Password</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%- message %></div>
    <% } %>

    <form action="/users/password_change" method="post">
      <input type="hidden" name="userId" value="<%= currentUser._id %>">
      <div class="form-group">
          <label>Old Password</label>
          <input type="password" class="form-control" name="old_password">
      </div>
      <div class="form-group">
          <label>New Password</label>
          <input type="password" class="form-control" name="new_password">
      </div>
      <div class="form-group">
          <label>Repeat Password</label>
          <input type="password" class="form-control" name="new_password2">
      </div>
      <button type="submit" class="btn btn-warning btn-lg">Change</button>
      <a href="/users">Cancel</a>
    </form>
</div>

<% include ../layouts/footer.ejs %>
